nlpaug==1.1.11
nltk==3.9.1
numpy==2.2.5
opencv_python==4.11.0.86
Pillow==11.2.1
scikit_learn==1.6.1
sentence_transformers==4.1.0
spacy==3.6.1
tensorflow==2.15.0
tensorflow_hub==0.13.0
textattack==0.3.10
timm==1.0.15
torch==2.5.0
torchvision==0.20.0
tqdm==4.67.1
transformers==4.51.3
